.env
.git
.gitignore
*.md
LICENSE
linkedin.pdf

backend/.venv
backend/.pytest_cache
backend/**/__pycache__

frontend/node_modules
frontend/dist

test/node_modules
test/test-results
test/screenshots
test/playwright-report

design-system
reference

**/.DS_Store
